
body{
    background-color: antiquewhite;
}
h1{color: #ff0000;
text-align: center;
font-size: 50px;}
.main{
    width:100%;
    border:solid;
    padding: auto;
}
.candle{
    padding-left: 35%;
    padding-bottom: 20px;
    
}
a:hover{
    color:red;
    font-size: larger;
}
.hi{
    height:60px;
    text-align: center;
}
strong{
    color:#ff0000;
}
#a{
    text-align: center;
}
    
