
body{
    background-color: rgb(245, 155, 0);
    color:#000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{color: #55290a;
text-align: center;
font-size: 50px;}
.main{
    width:100%;
    border:solid;
    padding: auto;
}
.pizza{
    padding-left: 35%;
    padding-bottom: 20px;
    
    
}
a:hover{
    color:red;
    font-size: larger;
    
}
a{text-decoration:none;}
.hi{
    height:60px;
    text-align: center;
}
strong{
    color:#ff0000;
}
#a{
    text-align: center;
}
    